networks:
  actions-publish-npm-dev-network:
    driver: bridge

services:
  actions-publish-npm-dev:
    container_name: actions-publish-npm-dev
    build:
      dockerfile: Dockerfile
    command: /bin/sh -c "sleep infinity"
    volumes:
      - ../:/src
      - ${HOME:-$USERPROFILE}/.ssh:/root/.ssh:ro
    env_file:
      - .env
    networks:
      - actions-publish-npm-dev-network

  actions-publish-npm-registry:
    container_name: actions-publish-npm-registry
    image: verdaccio/verdaccio:6.2.1
    user: root
    ports:
      - "4873:4873"
    volumes:
      - ../tests/verdaccio/conf:/verdaccio/conf
      - ../tests/verdaccio/plugins:/verdaccio/plugins
      - ../tests/verdaccio/storage:/verdaccio/storage
    networks:
      - actions-publish-npm-dev-network
