name: Build

on: [push, workflow_dispatch]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-24.04
    steps:
      - id: version
        name: Get semantic version
        uses: spritely/actions.semantic-version/get@9030147256b1893f621a45535878d4050b9ad168

      - name: Create .env for build
        shell: bash
        run: |
          cat > ./.devcontainer/.env <<EOF
          EOF

      - id: setup-tests
        name: Setup test container registry
        run: |
          docker run -d -p 5000:5000 \
              -v ${{ github.workspace }}/tests/auth:/auth \
              -e REGISTRY_AUTH=htpasswd \
              -e REGISTRY_AUTH_HTPASSWD_REALM="Registry Realm" \
              -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd \
              --name registry registry:2

      - name: Run test - workflow-test
        uses: ./tests/workflow-test
        if: always() && steps.setup-tests.outcome == 'success'

      - name: Run tests - publish-npm
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6
        if: always()
        with:
          runCmd: |
            mkdir -p ./test-results/
            bats --version
            bats --print-output-on-failure --report-formatter junit --output ./test-results/ ./tests/
          push: never

      - name: Add test report title
        if: always()
        run: |
          echo "# Test Results" >> $GITHUB_STEP_SUMMARY

      - name: Generate test report
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637
        if: always()
        with:
          name: Test Results
          path: test-results/*.xml
          reporter: java-junit

      - name: Apply semantic version
        if: ${{ steps.version.outputs.branchName == github.event.repository.default_branch }}
        uses: spritely/actions.semantic-version/apply@9030147256b1893f621a45535878d4050b9ad168
        with:
          version: ${{ steps.version.outputs.version }}
